@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font_primaria: "Roboto", sans-serif;
    --font_peso: 600;
}

.section_um_quem_somos{
    display: flex;
    background: #142140;
    border-radius: 90px;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.8125em 0em 2.8125em 0em ;
    margin-bottom: 3.5em;
 
}


.section_um_quem_somos_container_texto{
    color: #fff;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    font-size: 2.1875em;
    text-align: center;
    line-height: 2.56375rem;
}

.section_um_quem_somos_container_texto_bloco_um{
    margin-bottom: 8%;
}

.section_dois_quem_somos{
   display: flex;
   justify-content: space-evenly;
}

.section_dois_quem_somos_container_titulo{
    color: #3861F2;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    font-size: 40px;
    margin-bottom: 2.9375rem;
    
}

.section_dois_quem_somos_container_um_textos{
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    font-size: 1.7rem;
    margin-bottom: 20%;
}

.nossos_valores{
    color: #3861F2;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    font-size: 40px;
    margin-left: 13.5%;
}

.section_tres_quem_somos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    text-align: center;
}


.section_tres_quem_somos_container_botao{
    margin-top: 5%;

}

.section_tres_quem_somos_container_botao_img_img{
    background: #D0CCCC;
    padding: 5rem;
    border-radius: 5.625rem;

}

.section_tres_quem_somos_container_botao_img_img:hover {
    background: #5CB6F9;
    cursor: pointer;
}

.section_tres_quem_somos_container_botao_titulo{
    margin-top: 1em;
    font-size: 1.5em;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    margin-bottom: 1rem;

}

.section_tres_quem_somos_container_botao_titulo_texto{
    text-align: center;
    margin: 0% 25% 0% 25%;
    font-size: 1.375em;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
}

.section_quatro_quem_somos{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #fff 0%, #fff 18%, #083E77 18%, #083E77 90%, #fff 90%, #fff 100%);
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;

}

.section_quatro_quem_somos_img {
    margin: 0;
    padding: 0;
    margin-right: 5%;
}

.section_quatro_quem_somos_img_img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto;
}


.section_quatro_quem_somos_container_texto{
    color: #fff;
    font-family: var(--font_primaria);
    font-weight: var(--font_peso);
    font-size: 2rem;
    text-align: center;
    line-height: 37.5px;
    margin-right: 5%;



}

.section_quatro_quem_somos_container_texto_um{
    margin-bottom: 3%;
}



@media only screen and (max-width: 1820px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.9rem;
        line-height: 1.5rem;

    }
}

@media only screen and (max-width: 1760px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.8rem;
    }

    .section_quatro_quem_somos_img_img{
        width: 90%;
    }
}

@media only screen and (max-width: 1700px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.7rem;
    }
}



@media only screen and (max-width: 1636px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1580px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.5rem;
    

    }
}

@media only screen and (max-width: 1530px) { 
    .section_quatro_quem_somos_container_texto{
        font-size: 1.3rem;
        
    }

 
}

@media only screen and (max-width: 1440px) { 
    .section_quatro_quem_somos_img{
        margin-right: 1%;

    }
    .section_quatro_quem_somos_img_img{
        width: 70%; 
    }
    .section_quatro_quem_somos_container_texto{
        margin-right: 1%;

    }

    .section_um_quem_somos_container_texto{
        font-size: 1.875em;

    }

    .section_um_quem_somos_container_img_img{
        width: 90%;
    }

    .nossos_valores{
        margin-left: 7%;
    }
/* 
    .section_tres_quem_somos_container_botao_img_img{

    } */

    .section_tres_quem_somos_container_botao_titulo_texto{
        margin: 5% 10% 5% 10%;
    }
 
}

@media only screen and (max-width: 1280px) { 

    .section_quatro_quem_somos{
        background: linear-gradient(180deg, #fff 0%, #fff 10%, #083E77 10%, #083E77 90%, #fff 90%, #fff 100%);

    }

    .section_quatro_quem_somos_img{
        margin-right: 0%;

    }
    .section_quatro_quem_somos_img_img{
        width: 60%;
    }
    .section_quatro_quem_somos_container_texto{
        margin-right: 1%;
        font-size: 1.2rem;

    }

    .section_tres_quem_somos_container_botao_titulo_texto{
        font-size: 20px;
    }

   
    
 
}

@media only screen and (max-width: 1200px) {
    .section_quatro_quem_somos {
       justify-content:space-between
    }

    .section_quatro_quem_somos_img,
    .section_quatro_quem_somos_container_texto {
        margin: 0;
        padding: 0;
    }

    .section_quatro_quem_somos_img_img {
        width: 400px;
    }

    .section_quatro_quem_somos_container_texto {
        text-align: center; /* Caso queira justificar o texto nessas resoluções */

        font-size: 18px;

    }
}

@media only screen and (max-width: 1024px) {
    .section_um_quem_somos_container_texto_bloco_um_texto{
        font-size: 28px;
    }

    .section_dois_quem_somos_container_titulo{
        font-size: 28px;
    }

    .section_dois_quem_somos_container_um_textos{
        font-size: 20px;
    }
    .nossos_valores{
        font-size: 28px;
    }
    .section_quatro_quem_somos_container_texto{
        margin:0px;
        width: 100%;
        padding: 0px;
    }
    .section_tres_quem_somos_container_botao_img_img{
        padding: 4rem;
        width: 30%;
    }

    .section_tres_quem_somos_container_botao_titulo{
        font-size: 20px;
    }
    .section_tres_quem_somos_container_botao_titulo_texto{
        font-size: 18px;
    }

   

}


@media only screen and (max-width: 600px) {
    .section_um_quem_somos{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0px;
        border-radius: 0;
        height: 524;
    }

    .section_um_quem_somos_container_img_img{
        width: 200px;
        margin-bottom: 15%;
    }

    .section_um_quem_somos_container_texto_bloco_um_texto, .section_um_quem_somos_container_texto_bloco_dois_texto{
        font-size: 16px;
        line-height: 18.75px;
    }

    .section_dois_quem_somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin:0px;
        padding: 0px;
        margin-top: 20px;

    }
    .section_dois_quem_somos_container_titulo{
        margin: 0;
        font-size: 24px;
    }
    .section_dois_quem_somos_container_um{
        margin:0;
        padding: 0;
    }

    .section_dois_quem_somos_container_um_textos{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    
    }

    .nossos_valores{
        margin: 0;
        text-align: center;
        font-size: 24px;
    }
    
    .section_tres_quem_somos{
        display: flex;
        flex-direction: column;
    }

    .section_tres_quem_somos_container_botao_img_img{
        width: 30%;
        padding: 3rem;
    }

    .section_quatro_quem_somos{
        background: #083E77;
        display: flex;
        flex-direction: column-reverse;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        width: 100%;
        
    }

    .section_quatro_quem_somos_img_img{
        width: 200px;
        margin: 0;
        margin-bottom: 50px;
        margin-top: 50px;
   
    }

    .section_quatro_quem_somos_container_texto{
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        margin-top: 50px;   
    }

    .section_quatro_quem_somos_container_texto_um{
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    .section_quatro_quem_somos_container_texto_dois{
        text-align: center;
        margin: 0% 10% 0% 10%
    }
}



